#navigation {
    position: fixed;
    bottom: 0;
    margin: 0 0 2% 50%;
}
.input-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
}
.submit-button {
    width: 5rem;
    height: 3rem;
    white-space: normal;
    border-radius: 1rem;
    background-color:lightseagreen;
    font-weight: bold;
    color:ivory;
}
.full-page {
    background-color: bisque;
}
.checkbox-form {
    margin-bottom: 2rem;
}