#navigation {
    margin: 16% 0 0 36%;
}
#submit-button-pwd-gen {
    width: 5rem;
    height: 3rem;
    white-space: normal;
    border-radius: 1rem;
    background-color:lightseagreen;
    font-weight: bold;
    color:ivory;
}
#double-check-clipboard {
    opacity: 0;
}
#morse-clear-content-brush:active {
    height: 6%;
}
.input-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
}
.full-page {
    background-color: bisque;
}
.checkbox-form {
    margin-bottom: 2rem;
}
.morse-page {
    background-color:turquoise;
}
.morse-buttons {
    border-radius: 16%;
    box-shadow: 0vmax;
}
.morse-text-area {
    width: 100%;
    height: 12rem;
}
.morse-output {
    display: inline-flex;
}
.textarea-wrapper {
    display: grid;
    grid-template-columns: 42fr 1fr;
}