#navigation {
    margin: 16rem 0 0 36em;
}
#submit-button-pwd-gen {
    width: 5rem;
    height: 3rem;
    white-space: normal;
    border-radius: 1rem;
    background-color:lightseagreen;
    font-weight: bold;
    color:ivory;
}
.input-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
}
.full-page {
    background-color: bisque;
}
.checkbox-form {
    margin-bottom: 2rem;
}
.morze-page {
    background-color:turquoise;
}
.morze-buttons {
    border-radius: 16%;
    box-shadow: 0vmax;
}
.morze-text-area {
    width: 100%;
    height: 12rem;
}